.title {
  font-size: 27px;
  padding: 40px 0;
}
a {
  text-decoration: none;
}

.title-prefix {
  font-weight: normal;
  font-size: inherit;
}

.team-member {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 350px;
  border-radius: 20px;
  background-color: white;
}

.team-member,
.team-leader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-leader {
  padding-bottom: 100px;
}
.team-member,
.team-leader,
h3 {
  font-size: 18px;
}
.team-member,
.team-leader,
p {
  font-size: 14px;
}

.team-member img,
.team-leader img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.members {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 1150px) {
  .members {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1149px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 100px;
  }
}
