.main {
  align-items: center;
  text-align: center;
}
.title {
  font-size: 26px;
  padding: 40px 0;
}

.team-member,
.team-leader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-leader {
  padding-bottom: 100px;
}

.team-member img,
.team-leader img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}
