.memberName {
  padding: 15px 0;
  margin: 0;
}

.download-cv-button {
  margin: 0;
}

.arrow {
  width: 20px !important;
  height: auto !important;
  rotate: 180deg;
}
.pdf-icon {
  width: 30px !important;
  height: auto !important;
  border-radius: 0 !important;
  cursor: pointer;
}
.team-photo {
  position: relative;
  margin: 15px 0;
}

.team-photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.team-photo .title {
  font-size: 7vw;
  z-index: 100;
}

.team-photo img {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.title {
  font-size: 27px;
  padding: 40px 0;
}

.title-prefix {
  font-weight: normal;
  font-size: inherit;
}

.team-member {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member,
.team-leader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.team-member img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.members {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

@media (min-width: 1150px) {
  .members {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1149px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 100px;
  }
}
