.content {
  max-width: 800px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 1rem;
}

.content ol,
.content ul {
  margin-bottom: 1rem;
}

.content li {
  margin-bottom: 0.5rem;
}
