.services-equipment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 3rem;
}
.services h3,
.equipment h3 {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  border-color: rgb(226, 226, 226);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-box {
  margin-bottom: 20px;
}

.question {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(235, 235, 235);
  padding: 10px;
  width: 800px;
  margin-bottom: 20px;
}
.question p {
  margin: 0;
  font-size: 11px;
}
.question-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .services-equipment {
    padding: 1rem;
  }

  .services h3,
  .equipment h3 {
    font-size: 20px;
  }

  .question {
    width: 100%;
  }
}
